.content h1 { font-size: 1.50000rem; }
.content h2 { font-size: 1.12500rem; }
.content h3 { font-size: 1.03125rem; }
.content h4 { font-size: 0.93750rem; }
.content h5 { font-size: 0.84375rem; }
.content h6 { font-size: 0.75000rem; }
.content p, .content dl, .content ul, .content ol {
  font-size: 1.50rem; line-height: 2.50rem;
}
.content code {
  font-size: 1.50rem;
}
@media screen and (min-width: 1024px) {
.content h1 { font-size: 2.000rem; }
.content h2 { font-size: 1.500rem; }
.content h3 { font-size: 1.375rem; }
.content h4 { font-size: 1.250rem; }
.content h5 { font-size: 1.125rem; }
.content h6 { font-size: 1.000rem; }
.content p, .content dl, .content ul, .content ol {
  font-size: 4.00rem; line-height: 5.00rem;
}
.content code {
  font-size: 2.00rem;
}
}

.content p {
  text-align: center; font-family : Lisu, cursive;
}
.content code {
  text-align:  right;
}
